{% extends "base.html" %}

{% load static %}
{% load staticfiles %}

{% block body %}
    <!-- HEADER -->
    <div id="particles-js"></div>

    <section id="header-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <img src="{% static "img/logo small.png" %}" alt="logo" class="logo-header">
                </div>
            </div> <br>
            <div class="container">
                <div class="col-sm-12">
                    <p class="header-details">January 28-30, 2016 | University of the Philippines Diliman</p>
                </div>
            </div> <br>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <a href="#register" class="header-button orange-btn btn wow fadeIn animated animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="challenge-section">
        <div class="title">
            <h1 class="wow fadeIn animated animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">The Challenge</h1>
            <div class="hr"></div>
        </div>

        <div class="container">

            <div class="row row-centered">
                <div class="col-centered col-sm-10 offset-2">
                    <p class="space"> There are many challenges in the world that put the good of humanity to the test. We encourage all ideas that could help to address these, both on a local and global scale. One example is the currently largest refugee crises since the Second World War. More then 4 million refugees have been forced to leave their home country Syria on a dangerous and long journey. Another example is the recent earthquakes that hit Nepal on the 5th of April, which left at least 2 million Nepalis homeless. Events like these are of course very challenging for the people involved. But we believe that Open Source and creative thinking can help in bringing useful solutions.
                    </p>
                 </div>
            </div>
        </div>
    </section>

    <section id="sponsors-section">
        <div class="title">
            <h1 class="wow fadeIn animated animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">Sponsors</h1>
            <div class="hr"></div>
        </div>

        <div class="container">

            <div class="row">
              {% if organizers %}
                <h2>Organized by</h2>
                <div class="col-sm-12">
                    <div class="row row-centered">
                    {% for organizer in organizers %}
                      <div class="sponsor col-lg-2 col-md-2 col-sm-3 col-centered">
                        <div class="media">
                         <img src="{% get_media_prefix %}{{ organizer.picture }}" alt="picture">
                          <div class="media-body">
                            <h2>{{ organizer.name }}</h2>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                    </div>
                </div>
              {% endif %}
              {% if platinum_sponsors %}
                <h2>Co-presented to by</h2>
                <div class="col-sm-12">
                    <div class="row row-centered">
                    {% for sponsor in platinum_sponsors %}
                      <div class="sponsor col-lg-2 col-md-2 col-sm-3 col-centered">
                        <div class="media">
                         <img src="{% get_media_prefix %}{{ sponsor.picture }}" alt="picture">
                          <div class="media-body">
                            <h2>{{ sponsor.name }}</h2>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                    </div>
                </div>
              {% endif %}
              {% if gold_sponsors %}
                <h2>In Cooperation with</h2>
                <div class="col-sm-12">
                    <div class="row row-centered">
                    {% for sponsor in gold_sponsors %}
                      <div class="sponsor col-lg-2 col-md-2 col-sm-3 col-centered">
                        <div class="media">
                         <img src="{% get_media_prefix %}{{ sponsor.picture }}" alt="picture">
                          <div class="media-body">
                            <h2>{{ sponsor.name }}</h2>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                    </div>
                </div>
              {% endif %}
              {% if silver_sponsors %}
                <h2>Also brought to you by</h2>
                <div class="col-sm-12">
                    <div class="row row-centered">
                    {% for sponsor in silver_sponsors %}
                      <div class="sponsor col-lg-2 col-md-2 col-sm-3 col-centered">
                        <div class="media">
                         <img src="{% get_media_prefix %}{{ sponsor.picture }}" alt="picture">
                          <div class="media-body">
                            <h2>{{ sponsor.name }}</h2>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                    </div>
                </div>
              {% endif %}
              {% if bronze_sponsors %}
                <h2>Special thanks to</h2>
                <div class="col-sm-12">
                    <div class="row row-centered">
                    {% for sponsor in bronze_sponsors %}
                      <div class="sponsor col-lg-2 col-md-2 col-sm-3 col-centered">
                        <div class="media">
                         <img src="{% get_media_prefix %}{{ sponsor.picture }}" alt="picture">
                          <div class="media-body">
                            <h2>{{ sponsor.name }}</h2>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                    </div>
                </div>
              {% endif %}
              {% if media_partners %}
                <h2>Media Partners</h2>
                <div class="col-sm-12">
                    <div class="row row-centered">
                    {% for partner in media_root %}
                      <div class="partner col-lg-2 col-md-2 col-sm-3 col-centered">
                        <div class="media">
                         <img src="{% get_media_prefix %}{{ partner.picture }}" alt="picture">
                          <div class="media-body">
                            <h2>{{ partner.name }}</h2>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                    </div>
                </div>
              {% endif %}
              {% if community_partners %}
                <h2>Community Partners</h2>
                <div class="col-sm-12 row-centered">
                    <div class="row">
                    {% for partner in community_partners %}
                      <div class="partner col-lg-2 col-md-2 col-sm-3 col-centered">
                        <div class="media">
                         <img src="{% get_media_prefix %}{{ partner.picture }}" alt="picture">
                          <div class="media-body">
                            <h2>{{ partner.name }}</h2>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                    </div>
                </div>
              {% endif %}
            </div>
        </div>
    </section>

    <section id="faq-section">
        <div class="title">
            <h1 class="wow fadeIn animated animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">Frequently Asked Questions</h1>
            <div class="hr"></div>
        </div>

        <div class="container">

            <div class="row row-centered">
                <div class="col-centered col-sm-8 offset-4">
                    <h2 class="faq-header">(1) I’m Not Sure If I’m Qualified Enough To Join The Hackathon…</h2>
                    <p class="space"> Around us, life bursts with miracles--a glass of water, a ray of sunshine, a leaf, a caterpillar, a flower, laughter, raindrops. If you live in awareness, it is easy to see miracles everywhere. Each human being is a multiplicity of miracles.
                    Eyes that see thousands of colors, shapes, and forms; ears that hear a bee flying or a thunderclap; a brain that ponders a speck of dust as easily as the entire cosmos; a heart that beats in rhythm with the heartbeat of all beings.
                    </p>
                    <p class="space"> Breath is the bridge which connects life to consciousness, which unites your body to your thoughts. Whenever your mind becomes scattered, use your breath as the means to take hold of your mind again.
                    </p>
                 </div>
                 <div class="col-centered col-sm-8 offset-4">
                    <h2 class="faq-header">(2) When Does The Hackathon Start?</h2>
                    <p class="space"> Registration will open at 16:00 on Friday but there’s no hard deadline before you have to arrive. Opening ceremony, with speeches from two Aid organizations, will start at 17:30.
                    </p>
                    </p>
                 </div>
                 <div class="col-centered col-sm-8 offset-4">
                    <h2 class="faq-header">(1) I’m Not Sure If I’m Qualified Enough To Join The Hackathon…</h2>
                    <p class="space"> Around us, life bursts with miracles--a glass of water, a ray of sunshine, a leaf, a caterpillar, a flower, laughter, raindrops. If you live in awareness, it is easy to see miracles everywhere. Each human being is a multiplicity of miracles.
                    Eyes that see thousands of colors, shapes, and forms; ears that hear a bee flying or a thunderclap; a brain that ponders a speck of dust as easily as the entire cosmos; a heart that beats in rhythm with the heartbeat of all beings.
                    </p>
                    <p class="space"> Breath is the bridge which connects life to consciousness, which unites your body to your thoughts. Whenever your mind becomes scattered, use your breath as the means to take hold of your mind again.
                    </p>
                 </div>
                 <div class="col-centered col-sm-8 offset-4">
                    <h2 class="faq-header">(2) When Does The Hackathon Start?</h2>
                    <p class="space"> Registration will open at 16:00 on Friday but there’s no hard deadline before you have to arrive. Opening ceremony, with speeches from two Aid organizations, will start at 17:30.
                    </p>
                    </p>
                 </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js_bottom %}
    <script src="{% static "js/particles.js" %}"></script>
    <script>
        /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
        particlesJS.load('particles-js', '{% static "json/particles.json" %}', function() {
          console.log('callback - particles.js config loaded');
        });
    </script>
{% endblock %}
