{% extends "base.html" %}
{% load bootstrap3 %}

{% load static %}
{% load staticfiles %}

{% block body %}
    <!-- HEADER -->
    <div id="particles-js"></div>

    <section id="header-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <img src="{% static "img/logo small.png" %}" alt="logo" class="logo-header">
                </div>
            </div> <br>
            <div class="container">
                <div class="col-sm-12">
                    <p class="header-details">January 28-30, 2016 | University of the Philippines Diliman</p>
                </div>
            </div> <br>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                      <div class="btn-group">
                          <a class="header-button orange-btn btn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;" data-toggle = "modal" data-target = "#teamsignupmodal" id = "signup_button">Sign Up</a>
                          <a target="_blank" href="https://www.google.com.ph/maps/place/GT-Toyota+Asian+Center+Auditorium/@14.6567882,121.0717499,17z/data=!3m1!4b1!4m2!3m1!1s0x3397b760d4112d93:0x2e33852ee1347eab?hl=en" class="header-button gray-btn btn">Venue</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="define-section">
        <div class="title">
            <h1 class="wow fadeIn animated animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">#define</h1>
            <div class="hr"></div>
        </div>

        <div class="container">

            <div class="row row-centered">
                <div class="col-centered col-sm-10 col-md-8">

                    <p class="space">
                      #define is an intercollegiate hackathon which aims to challenge the members of the academic community to come up with novel software solutions to existing problems. Participants must develop an application following the central theme within 24 hours and present it to a panel.
                      </p>
                 </div>
            </div>
        </div>
    </section>

    <section id="challenge-section">
        <div class="title">
            <h1 class="wow fadeIn animated animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">The Challenge</h1>
            <div class="hr"></div>
        </div>

        <div class="container">

            <div class="row row-centered">
                <div class="col-centered col-sm-6 offset-6">

                    <p class="space">
                      Lack of clean water.<br>
                      Mining accidents.<br>
                      Natural Disasters.<br>
                      Misuse of resources.<br>
                      Depletion of the ozone layer.<br>
                      Vulnerabilities in cyberspace security.<br>
                      <br><br>
                      Big or small, these are some of the problems faced by the current generation. Engineers and scientists do everything they can to address issues such as these.
                      <br><br>
                      Truly, the rate of how fast scientific advances are made and technological breakthroughs are created is both astounding and overwhelming. Every day is a step in making the world a better home for the future generations with every one everywhere trying to make a contribution.
                      <br><br>
                      What can we, programmers, software engineers, and developers, do?
                      <br><br>
                      This is the grand challenge of #define (hashdefine).
                      <br><br>
                      Innovation, redefined.
                      </p>
                 </div>
            </div>
        </div>
    </section>

    <section id="sponsors-section">
        <div class="title">
            <h1 class="wow fadeIn animated animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">Sponsors</h1>
            <div class="hr"></div>
        </div>

        <div class="container">

            <div class="row">
              {% if organizers %}
              {% for organizer in organizers %}
                <h2>Organized by</h2>
                <a href = "{{ organizer.link }}" >
                <div class="col-sm-12">
                    <div class="row row-centered">
                    
                      <div class="sponsor col-lg-2 col-md-2 col-sm-3 col-centered">
                        <div class="media">
                         <img src="{% get_media_prefix %}{{ organizer.picture }}" alt="picture">
                          <div class="media-body">
                            <h2>{{ organizer.name }}</h2>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                    </div>
                </div>
              </a>
              {% endif %}
              {% if platinum_sponsors %}
                <h2>Co-presented to by</h2>
                <div class="col-sm-12">
                    <div class="row row-centered">
                    {% for sponsor in platinum_sponsors %}
                      <div class="sponsor col-lg-2 col-md-2 col-sm-3 col-centered">
                        <div class="media">
                         <img src="{% get_media_prefix %}{{ sponsor.picture }}" alt="picture">
                          <div class="media-body">
                            <h2>{{ sponsor.name }}</h2>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                    </div>
                </div>
              {% endif %}
              {% if gold_sponsors %}
                <h2>In Cooperation with</h2>
                <div class="col-sm-12">
                    <div class="row row-centered">
                    {% for sponsor in gold_sponsors %}
                      <div class="sponsor col-lg-2 col-md-2 col-sm-3 col-centered">
                        <div class="media">
                         <img src="{% get_media_prefix %}{{ sponsor.picture }}" alt="picture">
                          <div class="media-body">
                            <h2>{{ sponsor.name }}</h2>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                    </div>
                </div>
              {% endif %}
              {% if silver_sponsors %}
                <h2>Also brought to you by</h2>
                <div class="col-sm-12">
                  <div class="row row-centered">
                  {% for sponsor in silver_sponsors %}
                    <div class="sponsor col-lg-2 col-md-2 col-sm-3 col-centered">
                      <div class="media">
                       <img src="{% get_media_prefix %}{{ sponsor.picture }}" alt="picture">
                        <div class="media-body">
                          <h2>{{ sponsor.name }}</h2>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                  </div>
                </div>
              {% endif %}
              {% if bronze_sponsors %}
                <h2>Special thanks to</h2>
                <div class="col-sm-12">
                    <div class="row row-centered">
                    {% for sponsor in bronze_sponsors %}
                      <div class="sponsor col-lg-2 col-md-2 col-sm-3 col-centered">
                        <div class="media">
                         <img src="{% get_media_prefix %}{{ sponsor.picture }}" alt="picture">
                          <div class="media-body">
                            <h2>{{ sponsor.name }}</h2>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                    </div>
                </div>
              {% endif %}
              {% if media_partners %}
                <h2>Media Partners</h2>
                <div class="col-sm-12">
                    <div class="row row-centered">
                    {% for partner in media_root %}
                      <div class="partner col-lg-2 col-md-2 col-sm-3 col-centered">
                        <div class="media">
                         <img src="{% get_media_prefix %}{{ partner.picture }}" alt="picture">
                          <div class="media-body">
                            <h2>{{ partner.name }}</h2>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                    </div>
                </div>
              {% endif %}
                
              <div class="title">
                  <h1 class="wow fadeIn animated animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">Community Partners</h1>
                  <div class="hr"></div>
              </div>

              {% if platinum_community_partner %}
                <h2>Platinum</h2>
                <div class = "col-sm-12 row-centered">
                  <div class = "row">
                    {% for partner in platinum_community_partner %}
                      <div class = "partner col-lg-2 col md-2 col sm-3 col-centered">
                        <div class = "media">
                          <img src="{% get_media_prefix %}{{ partner.picture }}" alt="picture">
                          <h2>{{ partner.org_name }}</h2>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
              {% if transport_partner %}
              
                <h2>Gold</h2>
                <div class = "col-sm-12 row-centered">
                  <div class = "row">
                    {% for partner in transport_partner %}
                      <div class = "partner col-lg-2 col md-2 col sm-3 col-centered">
                        <div class = "media">
                          <img src="{% get_media_prefix %}{{ partner.picture }}" alt="picture">
                          <h2>{{ partner.org_name }}</h2>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
              {% if gold_community_partner %}
              
                <h2>Gold</h2>
                <div class = "col-sm-12 row-centered">
                  <div class = "row">
                    {% for partner in gold_community_partner %}
                      <div class = "partner col-lg-2 col md-2 col sm-3 col-centered">
                        <div class = "media">
                          <img src="{% get_media_prefix %}{{ partner.picture }}" alt="picture">
                          <h2>{{ partner.org_name }}</h2>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
            </div>
        </div>
    </section>

    <section id="faq-section">
        <div class="title">
            <h1 class="wow fadeIn animated animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">Frequently Asked Questions</h1>
            <div class="hr"></div>
        </div>

        <div class="container">

            <div class="row row-centered">
                <div class="col-centered col-sm-7 offset-5">
                    <h2 class="faq-header">(1) Is there a registration fee?</h2>
                    <p class="space"> Registration is absolutely free!
                    </p>
                 </div>
                 <div class="col-centered col-sm-7 offset-5">
                    <h2 class="faq-header">(2) What are the requirements to register? </h2>
                    <p class="space"> Undergraduate students from any university may form teams of three (3) to five (5) members each. All of the team members must be officially enrolled for the current semester.
                    </p>
                 </div>
                 <div class="col-centered col-sm-7 offset-5">
                    <h2 class="faq-header">(3) Are we allowed to substitute members?</h2>
                    <p class="space"> Substitutions will only be allowed if they advise the organizers at least twelve (12) hours before the start of the event.
                    </p>
                 </div>
                 <div class="col-centered col-sm-7 offset-5">
                    <h2 class="faq-header">(4) When is the deadline of registration?</h2>
                    <p class="space"> All registration requirements must be submitted by <strong>22</strong> January 2016, 11:59 PM PST. Teams will be notified by e-mail regarding the status of their registration within 48 hours.
                    </p>
                 </div>
                 <div class="col-centered col-sm-7 offset-5">
                    <h2 class="faq-header">(5) Will we be automatically in upon registration?</h2>
                    <p class="space"> Unfortunately, we can only accommodate the first thirty (30) teams to ensure that the participants get the best experience possible.
                    </p>
                 </div>
                 <div class="col-centered col-sm-7 offset-5">
                    <h2 class="faq-header">(6) Are we allowed to use external hardware devices (such as Raspberry Pi, other examples here)?</h2>
                    <p class="space"> The use of hardware devices is not allowed.
                    </p>
                 </div>
                 <div class="col-centered col-sm-7 offset-5">
                    <h2 class="faq-header">(7) Are we restricted to any API’s?</h2>
                    <p class="space"> You may use any available API’s given that you have the proper rights and permissions to do so.
                    </p>
                 </div>
                 <div class="col-centered col-sm-7 offset-5">
                    <h2 class="faq-header">(8) Do we have to stay in the building the entire time?</h2>
                    <p class="space"> For security and safety considerations, you may opt to go out before the “lockout period” but you may not return until that period is up.
                    </p>
                 </div>
                 <div class="col-centered col-sm-7 offset-5">
                    <h2 class="faq-header">(9) Will our creation be our own intellectual property or will it belong to another entity?</h2>
                    <p class="space"> All submissions remain the intellectual property of the participants or teams that conceptualized and developed them.
                 </div>
                 <div class="col-centered col-sm-7 offset-5">
                    <h2 class="faq-header">(10) Are there prizes?</h2>
                    <p class="space"> You can win as much as PhP 25,000. There will also be freebies during the event proper.
                    </p>
                 </div>
                 <div class="col-centered col-sm-7 offset-5">
                    <h2 class="faq-header">(11) Is there a pitching portion?</h2>
                    <p class="space"> Yes, each team may send a maximum of two members. They will be given at most seven (7) minutes for the pitching portion.
                    </p>
                 </div>
                 <div class="col-centered col-sm-7 offset-5">
                    <h2 class="faq-header">(12) Will our code be judged?</h2>
                    <p class="space"> Yes. It will be reviewed by a panel dedicated to code-review.
                    <br><br>
                    For additional questions, you may email <a href="mailto:hashdefine.hacks@gmail.com?Subject=Question" target="_top">hashdefine.hacks@gmail.com!</a>
                    </p>
                 </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block form %}
    <form method = "POST" action = "" id = "teamsignup_form"> {% csrf_token %}

      <form>
      <h4 class="text-left">Team details</h4>
      {% bootstrap_field form.team_name %}
      <h4 class="text-left">Member 1</h4>
      {% bootstrap_field form.m1_full_name %}
      {% bootstrap_field form.m1_school %}
      {% bootstrap_field form.m1_course %}
      {% bootstrap_field form.m1_contact_num %}
      {% bootstrap_field form.m1_email %}
      <h4 class="text-left">Member 2</h4>
      {% bootstrap_field form.m2_full_name %}
      {% bootstrap_field form.m2_school %}
      {% bootstrap_field form.m2_course %}
      {% bootstrap_field form.m2_contact_num %}
      {% bootstrap_field form.m2_email %}
      <h4 class="text-left">Member 3</h4>
      {% bootstrap_field form.m3_full_name %}
      {% bootstrap_field form.m3_school %}
      {% bootstrap_field form.m3_course %}
      {% bootstrap_field form.m3_contact_num %}
      {% bootstrap_field form.m3_email %}
      <h4 class="text-left">Member 4</h4>
      {% bootstrap_field form.m4_full_name %}
      {% bootstrap_field form.m4_school %}
      {% bootstrap_field form.m4_course %}
      {% bootstrap_field form.m4_contact_num %}
      {% bootstrap_field form.m4_email %}
      <h4 class="text-left">Member 5</h4>
      {% bootstrap_field form.m5_full_name %}
      {% bootstrap_field form.m5_school %}
      {% bootstrap_field form.m5_course %}
      {% bootstrap_field form.m5_contact_num %}
      {% bootstrap_field form.m5_email %}
      {% buttons %}
      <button class = "btn btn-default btn-block" id = "submit_button" type = "submit"> Submit </button>
      {% endbuttons %}
    </form>

{% endblock %}

{% block js_bottom %}
    <script src="{% static "js/particles.js" %}"></script>
    <script>
        /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
        particlesJS.load('particles-js', '{% static "json/particles.json" %}', function() {
          console.log('callback - particles.js config loaded');
        });
    </script>
    <!-- Toaster -->
    <script type="text/javascript">
      toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      }

      {% if messages %}
        {% for message in messages %}
          toastr.success('{{ message }}');
        {% endfor %}
      {% endif %}
    </script>
{% endblock %}
